/* CSS reset */
html {
    box-sizing : border-box ;
  }

* ,
* : before ,
* : after {
    box-sizing : inherit ;
}
 /* end of CSS reset */

 /*google fonts
 font-family: 'Open Sans Condensed', sans-serif;
font-family: 'Oswald', sans-serif;
font-family: 'Roboto Condensed', sans-serif;
*/
body  {
    background-color: rgb(0, 211, 248);
}
li{
    list-style-type: none;
}
.icon-row-1{
    height: 45vh;
    background-image:url(/img/photo-1575326595805-0be215978a71.jpg);
    background-repeat: repeat-x;
}
#main-nav {
    font-family: 'Open Sans Condensed', sans-serif;
    font-variant-caps: all-small-caps;
}
#main-nav a:link {
    color: rgb(21, 5, 252);
    
}
#main-nav a:visited {
    color: rgb(0, 5, 0);
}
#main-nav a:hover {
    color: mediumblue;
    background-color: navy;
}
header {
    height: 80vh;
    background-image:url(/img/photo-1602187956602-576d568cd959.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
h1 {
    font-size: 2rem;
    font-family: 'Roboto Condensed', sans-serif;
    color: rgb(0, 0, 0);

}
p {
    width: 500px;
    line-height: 1.5;
}
h2 + p::first-letter {
    color: rgb(0, 0, 0);
    font-size: 150%;
}

h2 {
    font-size: 1.5rem;
    font-family: 'Oswald', sans-serif;
    color: rgb(0, 0, 0);
}

p {
    font-family: 'Oswald', sans-serif;
    font-size: 1.5rem;
    color: rgb(80, 0, 100);
}

.webpage-assignments {color: rgb(0, 0, 0);}


.fade {
    display: inline-block;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 180px;
    color: black;
    animation: fadeIn linear 6s;
    -webkit-animation: fadeIn linear 6s;
    -o-animation: fadeIn linear 6s;
    -ms-zoom-animation: fadeIn 6s;

}
@keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}

}
@-moz-keyframes fadeIn {
    0% {opacity: 0;}
    100% 
}
@-webkit-keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
}
@-o-keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
}
@-ms-keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
}